/* RESET */
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/*END RESET*/
P {
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', cursive;
}
/*BODY EDITS*/
body{
    overflow: hidden;
}
body .container {
    max-width: none;
}
/*BODY EDITS END*/
/* CONTAINER EDITS */
div.container1 {
    /*background: blue;*/
    width: 100%;
    /*height: 100vh;*/
}
div.logo_container {
    background: #050401;
    width: 100%;
    height: 100vh;
}
/* CONTAINER END */

/* NAV 1 EDITS */
div.nav1 {
    text-align: center;
	background: #050401;
    /*padding-top: 2%;*/
}
/* p nav 1 edits */
h5#nav1 {
    display: inline-block;
    color: #FBFAF8;
}
a {
    color: #FBFAF8;
    cursor: pointer;
}
/* END NAV EDITS*/

/* LOGO EDITS*/
div.logo {
    text-align: center;
    padding-top: 15%;
}
/* END LOGO EDITS*/

/*CONTAINER 2 EDITS*/
.container2 {
	width: 100%;
    height: 100vh;
}
/*about info*/
div.about_info {
	display: inline-block;
	width: 30%;
	height: 100vh;
}
#photo {
	margin-left: 25%;
	margin-top: 5%;
	border-radius: 100px;
	width: 200px;
	height: 200px;
}
.about_info p:nth-child(3) {
	padding: 7%;
	padding-top: 40%;
}
.about_info p:last-child {
	/*padding-top: 2%;*/
	padding-left: 5%;
	padding-right: 5%;
}
/*about heading*/
div.about_heading {
	display: inline-block;
	text-align: center;
	/*background: pink;*/
	padding-left: 20%;
	padding-top: 20%;
	vertical-align: top;
}
#logo2 {
	width: 350px;
	height: 350px;
	padding-left: 5%;
}
i#about_info {
	cursor: pointer;
	font-size: 30pt;
	margin-left: 5%;
}
/*CONTAINER 2 END*/
/*CONTAINER 3 EDITS*/
.container3 {
	width: 100%;
    height: 100vh;
}
div.projects {
	/*padding-left: 70%;*/
	text-align: right;
	padding-right: 5%;
	display: inline-block;
	float: right;
	width: 35%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
i#projects {
	cursor: pointer;
	font-size: 30pt;
	text-align: right;
	/*margin-right: 5%;*/
}
div.project {
	text-align: left;
	width: 100%;
	display: inline-block;
}
div.project_heading {
	display: inline-block;
	text-align: center;
	padding-left: 30%;
	padding-top: 20%;
	vertical-align: top;
}
#project_img {
	width: 100%;
	height: 300px;
	background: black;
}
/*CONTAINER 3 END*/
/*CONTAINER 4*/
div.container4 {
	margin-top: 20%;
}
div.github {
	display: inline-block;
	text-align: center;
	margin-left: 20%;
	margin-top: 10%;
}
.github a {
	color: black;
}
.github img {
	width: 40px;
	height: 40px;
}
div.email {
	display: inline-block;
	text-align: center;
	margin-left: 15%;
	margin-top: 10%;
}
.email a {
	color: black;
}
.email img {
	width: 40px;
	height: 40px;
}
div.heading {
	text-align: center;
}
i#contact:hover {
	cursor: pointer;
}
/*CONTAINER 4 END*/
