/* RESET */
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/*END RESET*/
/*BODY EDITS*/
body{
    overflow: hidden;
}
body .container {
    max-width: none;
}
/*BODY EDITS END*/
/* CONTAINER EDITS */
div.container1 {
    /*background: blue;*/
    width: 100%;
    /*height: 100vh;*/
}
div.logo_container {
    background: #050401;
    width: 100%;
    height: 100vh;
}
/* CONTAINER END */
/* NAV 1 EDITS */
div.nav1 {
    text-align: center;
    /*padding-top: 2%;*/
}
/* p nav 1 edits */
h5#nav1 {
    display: inline-block;
    color: #2D3142;
}
a {
    color: #2D3142;
    cursor: pointer;
    font-size:
}
/* END NAV EDITS*/
/* LOGO EDITS*/
div.logo {
    text-align: center;
    padding-top: 15%;
}
/* END LOGO EDITS*/
