<!DOCTYPE html>
<html>
    <head>
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100i|Righteous" rel="stylesheet">
        <!-- MATERIALIZE CSSLINK IN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta charset="utf-8">
        <!-- MATERIALIZE JQUERY LINK IN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
        <script src="https://use.fontawesome.com/8e15a18710.js"></script>
        <!-- JQUERY UI -->
        <script type="text/javascript" src="./js/jquery-ui.js"></script>
        <!-- CSS LINK IN -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
        <!-- PERSONAL SCRIPT PAGE LINK IN -->
        <script type="text/javascript" src="./js/script.js"></script>
        <!-- <script type="text/javascript" src="./js/parallax_script.js"></script> -->
        <title>Shawn Baugh Creative</title>
    </head>
    <body>
        <!-- CONTAINER 1 -->
        <div class="container1 col s12 m6" >
            <!-- ^^^^^HIDDEN^^^^^ -->
            <div class="nav1 col s6 m4">
                <h5 id="nav1"><a href="#" id="about">About</a> |</h5>
                <h5 id="nav1"> <a href="#" id="projects">Projects</a> |</h5>
                <h5 id="nav1"> <a href="#" id="contact">Contact</a></h5>
            </div>
            <div class="logo_container row valign-wrapper">
                <div class="logo col s6">
                        <img class="responsive-img" src="./img/baugh_creative_logo.png" alt="Logo">
                </div>
            </div>
            <!-- END CONTAINER 1 -->
        </div>
        <!-- CONTAINER 2 -->
        <!-- <div class="row"> -->
            <div class="container2 col s12" hidden>
                <!-- ^^^^^HIDDEN^^^^^ -->
                <div class="about_info row valign-wrapper col">
                        <i id="about_info" class="fa fa-times" aria-hidden="true"></i>
                        <br>
                        <!-- ABOUT CARD -->
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="/img/shawn_baugh_2.jpg">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">Shawn Baugh II<i class="material-icons right">more_vert</i></span>
                              <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">About Me<i class="material-icons right">close</i></span>
                              <p>My name is Shawn and I am an experienced Web Application Developer with a demonstrated history of working with many technologies. Skilled in Python, JavaScript and Web Application Programming. A recent graduate from Coding Dojo Dallas with an interest in web and mobile app development. I enjoy creating solutions to make a client’s life easier. I am interested in learning more about a position with a company as a web or software developer.</p>
                              <br>
                              <a href="/img/shawn_baugh_ii.pdf" download class="waves-effect waves-light btn">Resume</a>
                            </div>
                          </div>
                </div>
                <!-- HEADING -->
                <div class="about_heading row valign-wrapper col s6">
                    <h1 class="flow-text">About</h1>
                    <h5 class="flow-text">Just a Creator</h5>
                </div>
                <!-- END CONTAINER 2 -->
            </div>
        <!-- </div> -->
        <!-- CONTAINER 3 -->
        <div class="container3" hidden>
            <!-- ^^^^^HIDDEN^^^^^ -->
            <!-- HEADING -->
        <div class="project_heading">
            <h1 class="flow-text">Projects</h1>
            <h5 class="flow-text">My Creations</h5>
        </div>
            <div class="projects">
                <i id="projects" class="fa fa-times" aria-hidden="true"></i>
                <br>
                <!-- PROJECT START -->
                <div class="project">
                    <div class="row">
                       <div class="col s12 m7">
                         <div class="card">
                           <div class="card-image">
                               <video loop src="/vid/light_preview.mp4" width="615" autoplay muted poster="/img/light_sc.png">
                               </video>
                             <span class="card-title">Light</span>
                           </div>
                           <div class="card-content text-flow">
                             <p>Python, Django, HTML, CSS, JavaScript, jQuery, MySQLite, Amazon EC2 Server, Nginix, Gunicorn</p>
                           </div>
                           <div class="card-action">
                             <a href="https://github.com/shawnbaughcodes/light" target="_blank">See Code Here</a>
                             <a href="http://54.183.246.193">See Application Here</a>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
                <!-- PROJECT END -->
                <!-- PROJECT START -->
                <div class="project">
                    <div class="row">
                       <div class="col s12 m7">
                         <div class="card">
                           <div class="card-image">
                               <video loop src="/vid/ideas_preview.mp4" width="615" autoplay muted poster="/img/ideas_bg.png">
                               </video>
                             <span class="card-title">Ideas</span>
                           </div>
                           <div class="card-content text-flow">
                             <p>Ruby on Rails, HTML, CSS, jQuery, PostgreSQL, Amazon EC2 Server, Nginix</p>
                           </div>
                           <div class="card-action">
                             <a href="http://github.com/shawnbaughcodes/ideas" target="_blank">See Code Here</a>
                             <a href="http://52.53.153.155">See Application Here</a>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
                <!-- PROJECT END -->
                <!-- PROJECT START -->
                <div class="project">
                    <div class="row">
                       <div class="col s12 m7">
                         <div class="card">
                           <div class="card-image">
                               <video loop src="/vid/baugh_creative_showing.mp4" width="615" autoplay muted  poster="/img/baughcreativescreenshot.png">
                               </video>
                             <span class="card-title">Shawn Baugh Creative</span>
                           </div>
                           <div class="card-content text-flow">
                             <p>Languages Used: HTML, CSS, jQuery, Materialize, Node.JS, AWS EC2 Server</p>
                           </div>
                           <div class="card-action">
                             <a href="http://github.com/shawnbaughcodes/baugh_creative" target="_blank">See Code Here</a>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
                <!-- PROJECT END -->
                <!-- PROJECT START -->
                <div class="project">
                    <div class="row">
                       <div class="col s12 m7">
                         <div class="card">
                           <div class="card-image">
                             <img src="/img/radmusicscreenshot1.png">
                             <span class="card-title">Rad Music Official</span>
                           </div>
                           <div class="card-content text-flow">
                             <p>HTML, CSS, Bootstrap</p>
                           </div>
                           <div class="card-action">
                             <a href="http://github.com/shawnbaughcodes/radmusicofficial" target="_blank">See Code Here</a>
                             <a href="http://radmusicofficial.com" target="_blank">See Site Here</a>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
                <!-- PROJECT END -->
                <!-- PROJECT START -->
                <div class="project">
                    <div class="row">
                       <div class="col s12 m7">
                         <div class="card">
                           <div class="card-image">
                             <img src="/img/digsscreenshot.png">
                             <span class="card-title">Digs Official</span>
                           </div>
                           <div class="card-content text-flow">
                             <p>HTML, CSS, Bootstrap</p>
                           </div>
                           <div class="card-action">
                             <a href="http://github.com/shawnbaughcodes/digssite" target="_blank">See Code Here</a>
                             <a href="http://digsmakemusic.com" target="_blank">See Site Here</a>
                           </div>
                         </div>
                       </div>
                     </div>
                </div>
                <!-- PROJECT END -->
            </div>
                <!-- END CONTAINER 3 -->
        </div>
            <!-- CONTAINER 4 -->
            <div class="container4" hidden>
                <div class="contact_container">
                    <i id="contact" class="fa fa-times" aria-hidden="true"></i>
                    <div class="heading">
                        <!-- <br> -->
                        <h2>Contact</h2>
                        <p>Get in contact with me.</p>
                    </div>
                    <div class="contact_links">
                        <div class="github">
                            <a href="http://www.github.com/shawnbaughcodes" target="_blank"><h3>GitHub</h3></a>
                            <img src="./img/github_icon.png" alt="Github">
                        </div>
                        <div class="email">
                            <a href="mailto:shawnbaughcreative@gmail.com" target="_top"><h3>Email</h3></a>
                            <img src="./img/email_icon.png" alt="Email">
                        </div>
                        <div class="linkedin">
                            <a href="http://www.linkedin.com/in/shawn-baugh-ii/" target="_blank"><h3>LinkedIn</h3></a>
                            <img src="./img/linkedin_icon.png" alt="Email">
                        </div>
                    </div>
                </div>
                <!-- END CONTAINER 4 -->
            </div>
    </body>
</html>
