/* RESET */
* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/*END RESET*/
P {
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Righteous', cursive;
}
/*BODY EDITS*/
body{
    overflow: hidden;
}
body .container {
    max-width: 100vw;
	max-height: 100vh;
}
/*BODY EDITS END*/
/* CONTAINER EDITS */
div.container1 {
    /*background: blue;*/
    width: 100%;
    /*height: 100vh;*/
}
div.logo_container {
    background: #050401;
    width: 100%;
    height: 100vh;
}
/* CONTAINER END */

/* NAV 1 EDITS */
div.nav1 {
    text-align: center;
	background: #050401;
    /*padding-top: 2%;*/
}
/* p nav 1 edits */
h5#nav1 {
    display: inline-block;
    color: #FBFAF8;
	font-size: 25pt;
}
a {
    color: #FBFAF8;
    cursor: pointer;
}
#about:hover {
	animation: pulse 2s infinite;
}
#projects:hover {
	animation: pulse 2s infinite;
}
#contact:hover {
	animation: pulse 2s infinite;
}
@keyframes pulse {
	0% {
		color: white;
	}
	100% {
		color: #36A8C0;
	}
}
/* END NAV EDITS*/

/* LOGO EDITS*/
div.logo {
    text-align: center;
    /*padding-top: 15%;*/
	margin-right: 25%;

}
/* END LOGO EDITS*/

/*CONTAINER 2 EDITS*/
.container2 {
	width: 100%;
    height: 100vh;
	background: url(../img/office_bg.png);
	background-size: cover;
}
/*about info*/
div.about_info {
	display: inline-block;
	width: 30%;
	height: 90vh;
	margin-top: 5vh;
}
#photo {
	margin-left: 25%;
	margin-top: 5%;
	border-radius: 100px;
	width: 200px;
	height: 200px;
}
.about_info p:nth-child(4) {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	font-weight: bold;
	font-size: 15pt;
}
.about_info p:last-child {
	/*padding-top: 2%;*/
	padding-left: 5%;
	padding-right: 5%;
	font-size: 20pt;
}
.about_info em{
	text-align: center;
}
/*about heading*/
div.about_heading {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin-top: 40vh;
	margin-left: 15vw;
}
.about_heading h1 {
	font-size: 100pt;
}
.about_heading h5 {
	font-size: 30pt;
}
#logo2 {
	margin-left: 15%;
}
i#about_info {
	cursor: pointer;
	font-size: 30pt;
	margin-left: 5%;
}
/*CONTAINER 2 END*/
/*CONTAINER 3 EDITS*/
.container3 {
	width: 100%;
    height: 100vh;
	background: url(../img/office_bg.png);
	background-size: cover;
}
div.projects {
	text-align: right;
	margin-right: 1vw;
	display: inline-block;
	/*position: sticky;*/
	float: right;
	width: 40vw;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
i#projects {
	cursor: pointer;
	font-size: 30pt;
	text-align: right;
	position: fixed;
	margin-left: -2%;
}
div.project {
	text-align: left;
	display: inline-block;
	/*height: 100px;*/
	width: 65vw;
}
.project h3 {
	font-size: 30pt;
	width: 63vw;
	display: inline-block;
}
.project p {
	font-size: 15pt;
	font-weight: bold;
}
.project a {
	color: inherit;
}
div.project_heading {
	display: inline-block;
	text-align: center;
	margin-left: 10vw;
	margin-top: 40vh;
}
.project_heading h1 {
	font-size: 90pt;
}
.project_heading h5 {
	font-size: 30pt;
}
#project_img {
	/*width: 100vw;
	height: 300px;*/
}
/*CONTAINER 3 END*/
/*CONTAINER 4*/
div.container4 {
	/*margin-top: 8.5%;*/
	background: url(../img/office_bg.png);
	background-size: cover;
	height: 100vh;
	width: 100%;
}
div.github {
	display: inline-block;
	text-align: center;
	margin-left: 3%;
	margin-top: 10%;
}
.github a {
	color: black;
}
.github img {
	width: 40px;
	height: 40px;
}
div.email {
	display: inline-block;
	text-align: center;
	margin-left: 7%;
	margin-top: 10%;
}
.email a {
	color: black;
}
.email img {
	width: 40px;
	height: 40px;
}
div.linkedin {
	display: inline-block;
	text-align: center;
	margin-left: 7%;
}
.linkedin a {
	color: black;
}
.linkedin img {
	width: 40px;
	height: 40px;
}
div.heading {
	text-align: center;
}
.heading h2 {
	font-size: 100pt;
}
.heading p {
	font-size: 30pt;
}
i#contact:hover {
	cursor: pointer;
}
i#contact {
	font-size: 30pt;
	text-align: center;
	display: block;
}
.contact_container {
	padding-top: 20vh;
}
.contact_links {
	text-align: center;
}
/*CONTAINER 4 END*/
